* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  display: flex;
  gap: 20px;
}

.header img {
  cursor: pointer;
}

form {
  display: flex;
  margin: 20px 0;
}

input {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #000;
}

li {
  margin-bottom: 10px;
}

.note-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-container button {
  margin-left: 20px;
}

button {
  cursor: pointer;
  padding: 5px;
}
